div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.buttons {
  flex-direction: row;
}

button {
  margin: 0.5rem 1rem;    
}

h1 {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

nav {
  background-color: #c7b5c5;
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(81, 31, 112);
  border-bottom: 2px solid rgb(81, 31, 112);
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: rgb(178, 63, 184);
  border-bottom: 2px solid tomato;
}

nav a.active {
  background-color: black;
  color: white;
}
/* above deals with styling for navlinks */
.container {
  display:flex ;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
} 
/* above deals with DogDate */

.dogFinder-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px#c7b5c5;
  background-color: rgb(219, 214, 214);
} 

.dogDates-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 50rem;
  height: 50rem;
  display: inline-block;
  margin: 1rem 2rem;
  box-shadow: 3px 4px#c7b5c5;
} 

.dogDate-cards {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px#c7b5c5;
  background-color: rgb(183, 205, 241);
}

.dogMatchCard {
  justify-self: center;
  height: 10rem;
  width: 10rem;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  background-color: #c7b5c5;
}