div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.buttons {
  flex-direction: row;
}

button {
  margin: 0.5rem 1rem;    
}

h1 {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

nav {
  background-color: #c7b5c5;
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(81, 31, 112);
  border-bottom: 2px solid rgb(81, 31, 112);
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: rgb(178, 63, 184);
  border-bottom: 2px solid tomato;
}

nav a.active {
  background-color: black;
  color: white;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 300px;
  max-height: 200px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  max-height: 200px;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  max-width: 300px;
  max-height: 200px;
}

/* Trying to use this for the toggle LIKE/Match button */
button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: var(--green);
  color: white;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

/* might not work or be useful
#toy-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}

.toy-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
}


className="toy-avatar" (add to dogDate line 25 if im using ^^^)

*/